.const__title{
    margin-top: 60px;
    text-align: center;
}
.const__list{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
    gap: 30px;
}
.const__section{
    padding: 60px 0;
   @media screen and (min-width: 1200px) {
    padding-top: 94px;
   }

}
.const__item{
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    @media screen and (min-width:1200px) {
        width: 170px;
    }
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 210px;
    margin-left: 30px;
    fill: $halfwhite-color;
    &:hover{
    fill: $accent;
    transition: 500ms;
    }
}