.overlay-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
}
.overlay-menu.is-hidden{
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;
}
.menu{
    max-width: 300px;
    margin-left: auto;
    height: 100%;
    background-color: #fff;
}

.m__span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.text__link{
    margin-left: 20px;
}
.m__link{
    position: absolute;
    width: 296px;
    height: 40px;
    left: 40px;
    top: 562px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.menu__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
}