.work{
    padding-top: 94px;
    display: none;
    @media screen and (min-width:1200px) {
        display: block;
    }
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.work__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $black-color;
}
.work__list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.work__item{
    margin-left: 30px;
}
.work__ul{
    display: flex;
}
.work__li{
    margin-left: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    background-color: rgba(47, 48, 58, 0.8);
    color: $second-color;
    left: 107px;
    right: 107px;
    top: 27px;
    bottom: 27px;
}